{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-2">
            {% include "forms/grid_backtest_form.html" %}
        </div>
        <div class="col-xxl-7" id="chart-div" name="chart-div" hx-get="/backtest_result/chart"
            hx-trigger="backtestResultsEvent from:body delay:50ms, change from:#backtest-results-form"
            hx-include="#backtest-results-form">
        </div>
        <div class="col-xxl-3">
            <div>
                {% include "forms/backtest_results_form.html" %}
            </div>
            <div id="metrics" hx-get="/backtest_result/metrics"
                hx-trigger="backtestResultsEvent from:body delay:50ms, change from:#backtest-results-form"
                hx-include="#backtest-results-form">
            </div>
        </div>
    </div>

</div>
{% endblock content %}