{% extends "base.html" %}
{% block content %}
<div class="container col-sm-4">
    <form id="login-form">
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" name="username" id="username" class="form-control" />
            <label class="form-label" for="username">Login</label>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" name="password" id="password" class="form-control" />
            <label class="form-label" for="password">Password</label>
        </div>
    </form>
    <button type="button" class="btn btn-primary btn-block" hx-post="/auth/sign-in" hx-include="#login-form"
        hx-ext="json-enc" hx-indicator="#login-spinner" _="on click toggle @disabled until htmx:afterOnLoad"
        hx-swap="none">
        Sign in
    </button>
    <div id="login-spinner" class="spinner-border htmx-indicator spinner-border-sm" role="status">
        <span class="visually-hidden">Signing in...</span>
    </div>
</div>
{% endblock content %}