{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form id="backtest-uuid-form">
                <input type="hidden" name="backtest_uuid" _="on load or backtestFinished js return Date.now().toString() end then set my value to it" />
            </form>
            <form id="backtest-data">
                <table class="table">
                    <tbody id="tbody">
                        <tr>
                            <td><label class="col-form-label" >choose symbols</label></td>
                            <td>
                                <select class="form-select" id="symbol" name="symbol" hx-get="/exchange/local-symbols" hx-trigger="load">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">exchange</label></td>
                            <td>
                                <select class="form-select" name="exchange" hx-get="/exchange/exchanges" hx-trigger="load"
                                    hx-indicator=".htmx-indicator">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">market_data_type</label></td>
                            <td>
                                <select class="form-select" id="market-data-type" name="market_data_type" hx-get="/exchange/mdts_from_symbol" hx-include="#symbol" hx-exclude hx-trigger="change from:#symbol">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">chart_market_data_type</label></td>
                            <td>
                                <select class="form-select" id="chart-market-data-type" name="chart_market_data_type" hx-get="/exchange/mdts_from_symbol" hx-include="#symbol" hx-exclude hx-trigger="change from:#symbol">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">date_start</label></td>
                            <td><input class="form-control" type="date" name="date_start" placeholder="date_start"></td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">date_end</label></td>
                            <td><input class="form-control" type="date" name="date_end" placeholder="date_end"></td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">deposit</label></td>
                            <td><input class="form-control" type="number" min="0" step="0.01" value="1000.0" name="deposit"
                                    placeholder="deposit">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">commission</label></td>
                            <td><input class="form-control"  type="number" min="0" max="100.0" step="0.01" value="0.0" name="commission"
                                    placeholder="commission"></td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">price_low</label></td>
                            <td><input class="form-control" type="number" min="0" name="price_low" placeholder="price_low"></td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">price_high</label></td>
                            <td><input class="form-control" type="number" min="0" name="price_high" placeholder="price_high"></td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">grids_count</label></td>
                            <td><input class="form-control" type="number" min="2" max="170" step="1" name="grids_count" placeholder="grids_count">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">grid_trigger</label></td>
                            <td><input class="form-control" type="number" min="0" name="grid_trigger" placeholder="grid_trigger"></td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">grid_sl</label></td>
                            <td><input class="form-control" type="number" min="0" name="grid_sl" placeholder="grid_sl"></td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">grid_tp</label></td>
                            <td><input class="form-control" type="number" min="0" name="grid_tp" placeholder="grid_tp"></td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">sell_all</label></td>
                            <td><input class="form-check-input" type="checkbox" name="sell_all" placeholder="sell_all"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <button type="button" class="btn btn-primary" hx-post="/backtest/grid/run"
                hx-include="#backtest-data, #backtest-uuid-form" hx-target="#metrics" hx-ext="json-enc"
                hx-indicator="#run-spinner" _="on click toggle @disabled until htmx:afterOnLoad">
                Run Grid Backtest
            </button>
            <div id="run-spinner" class="spinner-border htmx-indicator spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
                
        </div>
        <div id="metrics" class="col-md-4">
        </div>
    </div>
    <div class="row mt-2">
        <div id="chart-div" name="chart-div" hx-get="/backtest_result/chart" hx-include="#backtest-uuid-form" hx-trigger="backtestFinished from:body">
        </div>
    </div>
    
</div>
{% endblock content %}