{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8" hx-get="/market-data/downloaded" hx-trigger="load, newMarketData from:body">
        </div>
        <div class="col-sm-4">
            <form id="market-data-form">
                <table class="table">
                    <tbody id="tbody">
                        <tr>
                            <td><label class="col-form-label">exchange</label></td>
                            <td>
                                <input type="text" class="form-control" name="exchange" id="exchange" placeholder="exchange" value="BINANCE">
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">symbol</label></td>
                            <td>
                                <select class="form-select" name="symbol" id="symbol" placeholder="symbol" hx-get="/exchange/symbols/binance" hx-trigger="load" hx-indicator="#symbol-spinner">
                                </select>
                            </td>
                            <td>
                                <div id="symbol-spinner" class="spinner-border htmx-indicator" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">market_data_type</label></td>
                            <td>
                                <select class="form-select" name="market_data_type" id="market_data_type" placeholder="market_data_type" hx-get="/exchange/market_data_types" hx-trigger="load" hx-indicator="#market_data_type-spinner">
                                </select>
                            </td>
                            <td>
                                <div id="market_data_type-spinner" class="spinner-border htmx-indicator col-auto" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td><label class="col-form-label">date_start</label></td>
                            <td><input class="form-control" type="date" name="date_start" placeholder="date_start"></td>
                        </tr>
                        <tr>
                            <td><label class="col-form-label">date_end</label></td>
                            <td><input class="form-control" type="date" name="date_end" placeholder="date_end"></td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <button type="button" class="btn btn-primary" hx-post="/market-data/download"
                hx-include="#market-data-form" hx-ext="json-enc"
                hx-indicator="#download-spinner" _="on click toggle @disabled until htmx:afterOnLoad" hx-swap="none">
                Download / Replace
            </button>
            <div id="download-spinner" class="spinner-border htmx-indicator spinner-border-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <!-- exchange: String,
            symbol: String,
            market_data_type: String,
            start_date: u64,
            end_date: u64, -->
        </div>
    </div>
</div>
{% endblock content %}